.renk1{background-color: red;}
.renk2{background-color: #10DDDB;}
.renk3{background-color: blue;}
.renk4{background-color: orange;}
.renk5{background-color: maroon;}
.renk6{background-color: navy blue;}
.renk7{background-color: purple;}
.renk8{background-color: magenta;}
.renk9{background-color: black;}
.renk10{background-color: yellow;}
.renk11{background-color: white;}
.renk12{background-color: gray;}